@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brockmann Regular';
  src: url('./assets/fonts/Brockmann-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Brockmann Medium';
  src: url('./assets/fonts/Brockmann-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Brockmann SemiBold';
  src: url('./assets/fonts/Brockmann-SemiBold.otf') format('truetype');
}

@font-face {
  font-family: 'Brockmann Bold';
  src: url('./assets/fonts/Brockmann-Bold.otf') format('truetype');
}

::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Brockmann Regular;
}

.background {
  background-image: url(/images/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
